html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #888;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    
    min-height: 740px;

	background: #555;
	background: -moz-radial-gradient(center, ellipse cover,  #555555 0%, #111111 97%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#555555), color-stop(97%,#111111));
	background: -webkit-radial-gradient(center, ellipse cover,  #555555 0%,#111111 97%);
	background: -o-radial-gradient(center, ellipse cover,  #555555 0%,#111111 97%);
	background: -ms-radial-gradient(center, ellipse cover,  #555555 0%,#111111 97%);
	background: radial-gradient(center, ellipse cover,  #555555 0%,#111111 97%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#111111',GradientType=1 );

    -webkit-font-smoothing: antialiased;
}

b, strong { font-weight: bold }
i, em { font-style: italic}
.small { font-size: 0.3em; font-style: italic; color: #666;}
.make_smaller { font-size: 0.8em; }
.right { float:right; }
.green { color: #4DA74D; font-style: italic; }
.round_border { text-align: center; }

a {
    color: #3A6BC4;
    text-decoration: none;
    padding: 0 0.1em;
    
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover {
    background: #3A6BC4;
    color: white;
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
    border-radius: 0.2em;
}

/* Styles for splash screen */

.error {
	color: #AB2B25;
	font-weight: bold;
	font-size: 0.8em;
}
.container {
	color: #777;
	width: 400px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
}

input[type=text], input[type=password] {
	background: #CCC;
	color: #333;
	font-size: 1.1em;
	font-weight: bold;
	padding: 10px;
	margin: 10px;
	outline: none;
	border: 1px solid #000;
	width: 75%
}
